<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    

  <script src="cordova.js"></script>
  <script src="js/app.js"></script> 
  
  <script>
    // Call onDeviceReady when PhoneGap is loaded.
    //
    // At this point, the document has loaded but phonegap-1.0.0.js has not.
    // When PhoneGap is loaded and talking with the native device,
    // it will call the event `deviceready`.
    // 
    document.addEventListener("deviceready", onDeviceReady, false);

	
	// init database 
	//
	function querySuccess(tx, results) {	
		var len = results.rows.length;
		var httpUrl = "";
		var refreshRate = "";
		alert("DRAGONFLYER table: " + len + " rows found.");
		if (len == 0) {
			tx.executeSql('INSERT INTO DRAGONFLYER (key, value) VALUES ("httpUrl", "http://test.com/test")');
			tx.executeSql('INSERT INTO DRAGONFLYER (key, value) VALUES ("refreshrate", "123")');			
			httpUrl = "http://test.com/test";
			refershRate = "123";
		} else {
			for (var i=0; i<len; i++) {
				alert("Row = " + i + " KEY = " + results.rows.item(i).key + " value =  " + results.rows.item(i).value);		
				if (results.rows.item(i).key == "httpUrl") {
				    httpUrl = results.rows.item(i).value;
				} else {
				    refershRate = results.rows.item(i).value;
				}
			}	
		}
	}

    // Populate the database 
    //
    function initDB(tx) {
        tx.executeSql('CREATE TABLE IF NOT EXISTS DRAGONFLYER (key unique, value)');
		tx.executeSql('SELECT * FROM DRAGONFLYER', [], querySuccess, errorCB);
    }

    // Transaction error callback
    //
    function errorCB(err) {
        alert("Error processing SQL: "+err);
    }
	
    // PhoneGap is loaded and it is now safe to make calls PhoneGap methods
    //
    function onDeviceReady() {
        var db = window.openDatabase("dragonflyer", "1.0", "dragonflyer DB", 1000000);
		db.transaction(initDB, errorCB);
    }  
  
	function changed() {
		if (mySwitch.isChecked()) {
			document.getElementById("drone_arm_switch").style.color = "#FF0000";
			document.getElementById("drone_arm_switch").innerHTML = "Armed";
		} else {
			document.getElementById("drone_arm_switch").style.color = "#00FF00";
			document.getElementById("drone_arm_switch").innerHTML = "Offline";
		}
	}
  </script>	
</head>

<body>    
  
  <ons-tabbar>
    <ons-tabbar-item
      active="true"
      label="Home"
      icon="home"
      page="page1.html">
    </ons-tabbar-item>

    <ons-tabbar-item
      label="Camera"
      icon="ion-images"
      page="page2.html">
    </ons-tabbar-item>

    <ons-tabbar-item
      label="Location"
      icon="ion-ios7-location"
      page="page5.html">
    </ons-tabbar-item>

    <ons-tabbar-item
      label="Settings"
      icon="gear"
      page="page3.html">
    </ons-tabbar-item>
  </ons-tabbar>

  <script type="text/ons-template" id="page1.html">
    <ons-navigator>
      <ons-toolbar>
        <div class="center">Home</div>
      </ons-toolbar>
      <ons-page>
        <ons-row style="margin-top: 40px;margin-right: 20px;margin-bottom: 5px;margin-left: 20px">
          <ons-col align="left">
			<div id="drone_arm_switch">Offline</div><div><ons-switch var="mySwitch" onchange="changed()"></ons-switch></div>
		  </ons-col>
		</ons-row>
        <ons-row style="margin-top: 50px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px">
          <ons-col align="center">
            <ons-button modifier="light" ng-click="ons.navigator.pushPage('page4.html')">
              Capture Image
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 50px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px">
          <ons-col align="center">
            <ons-button modifier="light">
              Capture Video
            </ons-button>
          </ons-col>
        </ons-row>
      </ons-page>
    </ons-navigator>
  </script>

  <script type="text/ons-template" id="page2.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Camera</div>
      </ons-toolbar>

    </ons-page>
  </script>

  <script type="text/ons-template" id="page3.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Settings</div>
      </ons-toolbar>
	  <ons-row>
		<ons-col>
			<div id="settingsform">
				<form>
				</form>
			</div>
		</ons-col>
	  </ons-row>
    </ons-page>
  </script>

  <script type="text/ons-template" id="page4.html">
    <ons-page class="center">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">New Page</div>
      </ons-toolbar>

      <ons-row style="margin-top: 100px;">
        <ons-col align="center">
          <ons-button modifier="light" ng-click="ons.navigator.popPage();">Pop Page</ons-button>
        </ons-col>
      </ons-row>
    </ons-page>
  </script>
  
  <script type="text/ons-template" id="page5.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Location</div>
      </ons-toolbar>
			<div id="tt">
			sdfsdf
			dsf
			dsf
			dsfd
			sfd
			
			</div>
    </ons-page>
  </script>

 
</body>
</html>
