<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    

  <script src="cordova.js"></script>
  <script src="js/app.js"></script> 
 
  
  <script>
  
  /*
{
    "status": "OK"
}  
  
  */
  
    // init vars
	var currentState = "disarmed";
	var currentTransition = "none";
	var watchID = null;
	var watchUpdate = 1;
	var httpUrl = "";
	var refreshRate = "";
	var logBufferSize = "";
	var activePage = "home";
	var lastPosition = null;
	var logBuffer = "";
  
    // Call onDeviceReady when PhoneGap is loaded.
    //
    // At this point, the document has loaded but phonegap-1.0.0.js has not.
    // When PhoneGap is loaded and talking with the native device,
    // it will call the event `deviceready`.
    // 
    document.addEventListener("deviceready", onDeviceReady, false);
	
	function loadSettings() {		
		document.getElementById('inDroneurl').value = httpUrl;
		document.getElementById('inDronerefreshrate').value = refreshRate;
		document.getElementById('inDronelogbuffer').value = logBufferSize;
		activePage='settings';
	}
	
	function loadHome() {
		if (currentState != 'disarmed') {
			droneArmSwitch.checked = true;
			document.getElementById('drone_arm_switch').innerHTML = 'Armed';
			document.getElementById("btnHoover").disabled  = false;
			document.getElementById("btnLand").disabled  = false;
			document.getElementById("btnFollowMe").disabled  = false;
			document.getElementById("btnEmergency").disabled  = false;	
		}
		document.getElementById('console_output').innerHTML = logBuffer;
		activePage='home';
	}
	
	function loadLocation() {
	    if (lastPosition != null) {
			document.getElementById('inLatitude').innerHTML = lastPosition.coords.latitude;
			document.getElementById('inLongitude').innerHTML = lastPosition.coords.longitude;
			document.getElementById('inAltitude').innerHTML = lastPosition.coords.altitude;
			document.getElementById('inAccuracy').innerHTML = lastPosition.coords.accuracy;
			document.getElementById('inAltitudeaccuracy').innerHTML = lastPosition.coords.altitudeAccuracy;
			document.getElementById('inHeading').innerHTML = lastPosition.coords.heading;
			document.getElementById('inSpeed').innerHTML = lastPosition.coords.speed;
			document.getElementById('inTimestamp').innerHTML = lastPosition.coords.timestamp;
			document.getElementById('inUpdate').innerHTML = watchUpdate;
		}
		activePage='location';
	}
	
	function loadCamera() {
		activePage='camera';
	}
	// init database 
	//
	function querySuccess(tx, results) {	
		var len = results.rows.length;
		alert("DRAGONFLYER table: " + len + " rows found.");
		if (len == 0) {
			httpUrl = "http://test.com/test";
			refreshRate = "1000";
			logBufferSize = "2000";
			tx.executeSql('INSERT INTO DRAGONFLYER (key, value) VALUES ("httpUrl", "' + httpUrl +'")');
			tx.executeSql('INSERT INTO DRAGONFLYER (key, value) VALUES ("refreshrate", "' + refreshRate + '")');			
			tx.executeSql('INSERT INTO DRAGONFLYER (key, value) VALUES ("logbuffer", "' +  logBufferSize + '")');			
		} else {
			for (var i=0; i<len; i++) {
				alert("Row = " + i + " KEY = " + results.rows.item(i).key + " value =  " + results.rows.item(i).value);		
				if (results.rows.item(i).key == "httpUrl") {
				    httpUrl = results.rows.item(i).value;
				} else if (results.rows.item(i).key == "refreshrate") {
				    refershRate = results.rows.item(i).value;
				} else {
				    logBufferSize = results.rows.item(i).value;
				}
			}	
		}
		updateConsole("[INIT] loaded settings");
		if (activepage == 'settings') { loadSettings(); };
	}

    // Populate the database 
    //
    function initDB(tx) {
        tx.executeSql('CREATE TABLE IF NOT EXISTS DRAGONFLYER (key unique, value)');
		tx.executeSql('SELECT * FROM DRAGONFLYER', [], querySuccess, errorCB);
    }
	
	// Initialize application
	//
	function initApp() {
		myNavigator.geolocation.getCurrentPosition(onGeoLocationSuccess, onGeoLocationError);
        var options = {  maximumAge: 250, timeout: 5000, enableHighAccuracy: true };
        watchID = myNavigator.geolocation.watchPosition(onGeoLocationSuccess, onGeoLocationError, options);
		window.plugins.insomnia.keepAwake();
		updateConsole("[INIT] geoLocation");
	}	
	
	function onGeoLocationSuccess(position) {
		lastPosition = position;
		if (activePage == 'location') { loadLocation(); };
		watchUpdate += 1;
		//doHttpGetCall(position, host.value, port.value, watchUpdate - 1);
		updateConsole("[OK] geoLocation - point " + watchUpdate);
    }
	
	// onError Callback receives a PositionError object
    //
    function onGeoLocationError(error) {
		updateConsole("[ERROR] geoLocation - code:" + error.code + ", message:" + error.message);
    }
	
	function doHttpGetCall(position, host, port, idx) {
    
    	document.getElementById('postFeedbackSpan').innerHTML = "Post sched " + idx;
    
     	$.ajax({
	 	url: "http://" + host + ":" + port +"/updatePosition/",
		type: "POST",
		data: position,
			success: function(data) {
	    		document.getElementById('postFeedbackSpan').innerHTML = "Done " + idx;
	    		document.getElementById('serverSaidSpan').innerHTML = data;
	  		},
	  		error: function( xhr, status, errorThrown ) {
	    		document.getElementById('postFeedbackSpan').innerHTML = "Problem!" + idx + ":" + errorThrown + " - Status: " + status + " " +  JSON.stringify(xhr, null, 2);;
	  		},
	  	dataType: "text"
		});
    }
	
    // Transaction error callback
    //
    function errorCB(err) {
		updateConsole("[ERROR] appDB - message:" + err);
    }
	
    // PhoneGap is loaded and it is now safe to make calls PhoneGap methods
    //
    function onDeviceReady() {
		updateConsole("[OK] Device ready");
		initApp();
        var db = window.openDatabase("dragonflyer", "1.0", "dragonflyer DB", 1000000);
		db.transaction(initDB, errorCB);
    }  
  
	function toggleArm() {		
		if (droneArmSwitch.checked) {
			currentTransition = "arming";			
		} else {
			currentTransition = "disarming";			
		}
		transitionController();
	}
	
	function updateStatus(text, color, fontWeight) {
		document.getElementById("drone_arm_switch").style.fontWeight = fontWeight;
		document.getElementById("drone_arm_switch").style.color = color;
		document.getElementById("drone_arm_switch").innerHTML = text;
	}

	/*
	* Event/state changes
	*/
	function executeArming() {
		updateStatus("Arming...","#33CC33","200");
		currentTransition = "armed";
		transitionController();
	}
	
	function executeArmed() {
		updateStatus("Armed","#C0C0C0","200");
		executeEnableFlightButtons();
	}
	
	function executeDisarming() {
		updateStatus("Disarming...","#C0C0C0","normal");
		currentTransition = "disarmed";
		transitionController();
	}
	
	function executeDisableFlightButtons() {
		updateConsole("buttons Disabled");
		document.getElementById("btnHoover").disabled  = true;
		document.getElementById("btnLand").disabled  = true;
		document.getElementById("btnFollowMe").disabled  = true;
		document.getElementById("btnEmergency").disabled  = true;	
	}
	
	function executeEnableFlightButtons() {
		updateConsole("buttons Enabled");
		document.getElementById("btnHoover").disabled  = false;
		document.getElementById("btnLand").disabled  = false;
		document.getElementById("btnFollowMe").disabled  = false;
		document.getElementById("btnEmergency").disabled  = false;	
	}
	
	function executeDisarmed() {
		updateStatus("Disarmed","#C0C0C0","normal");
		executeDisableFlightButtons();
	}

	function updateConsole(consoleText) {
		logBuffer = consoleText + '\r' + logBuffer;
		if (logBuffer.length > parseInt(logBufferSize)) {
			logBuffer = logBuffer.substring(0,parseInt(logBufferSize));
		}
		if (activePage == 'home') {
			document.getElementById("console_output").innerHTML = logBuffer;
		}
	}
	
	function transitionController() {
		updateConsole("transitioning from " + currentState + " to " + currentTransition);
		currentState = currentTransition;
		if (currentTransition == "arming") {
			executeArming();
		} else if (currentTransition == "armed") {
			executeArmed();
		} else if (currentTransition == "disarming") {
			executeDisarming();
		} else if (currentTransition == "disarmed") {
			executeDisarmed();
		}
	}
	
  </script>	
</head>

<body>    
<div>

  <ons-tabbar>
    <ons-tabbar-item		
	  onclick="loadHome()"
      active="true"
      label="Home"
      icon="home"
      page="page1.html">
    </ons-tabbar-item>

    <ons-tabbar-item
	  onclick="loadCamera()"
      label="Camera"
      icon="ion-images"
      page="page2.html">
    </ons-tabbar-item>

    <ons-tabbar-item
	  onclick="loadLocation()"
      label="Location"
      icon="ion-ios7-location"
      page="page5.html">
    </ons-tabbar-item>

    <ons-tabbar-item
	  onclick="loadSettings()"
      label="Settings"
      icon="gear"
      page="page3.html">
    </ons-tabbar-item>
  </ons-tabbar>

  <script type="text/ons-template" id="page1.html">
    <ons-navigator var="myNavigator">
      <ons-page>
      <ons-toolbar>
        <div class="center">Home</div>
      </ons-toolbar>
        <ons-row>
          <ons-col>
			<ul class="list">
			  <li class="list__item" >
				<div >
					<div id="drone_arm_switch" style="float: left; width: 15%; color: #C0C0C0">Disarmed</div>
					<div style="float: right; width: 10%">
						<label class="switch switch--list-item">
						  <input id="droneArmSwitch" type="checkbox" class="switch__input" onChange="toggleArm()">
						  <div class="switch__toggle"></div>
						</label>
					</div>
				</div>
			  </li>
			</ul>				
		  </ons-col>
		</ons-row>
		<ons-row>
			<ons-col>
			<div style="height:25px"></div>
			</ons-col>
		</ons-row>
		<ons-row>
			<ons-col>
				<div id="main_controller" style="width:100%">
					<button id="btnHoover" class="button--cta" style="width:95%; align: center; margin: 5px" disabled>Hoover</button>
					<button id="btnLand" class="button--cta" style="width:95%; align: center; margin: 5px"  disabled>Land</button>
					<button id="btnFollowMe" class="button--cta" style="width:95%; height:50px; align: center; margin: 5px"  disabled>Follow Me</button>
					<div style="height: 50px"></div>
					<button id="btnEmergency" class="button--cta" style="width:95%; height: 50px; background-color: red; align: center; margin: 5px"  disabled>Emergency stop</button>
				</div>		
			</ons-col>
		</ons-row>
		<ons-row>
			<ons-col>
			<div style="height:25px"></div>
			</ons-col>
		</ons-row>		
		<ons-row>
			<ons-col>
				<textarea id="console_output" style="width:100%; margin:0 auto" class="textarea" rows="8" placeholder="Textarea"> </textarea>			
			</ons-col>
		</ons-row>
        <!--ons-row style="margin-top: 50px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px">
          <ons-col align="center">
            <ons-button modifier="light" ng-click="ons.navigator.pushPage('page4.html')">
              Capture Image
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row style="margin-top: 50px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px">
          <ons-col align="center">
            <ons-button modifier="light">
              Capture Video
            </ons-button>
          </ons-col>
        </ons-row-->
      </ons-page>
    </ons-navigator>
  </script>

  <script type="text/ons-template" id="page2.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Camera</div>
      </ons-toolbar>

    </ons-page>
  </script>

  <script type="text/ons-template" id="page3.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Settings</div>
      </ons-toolbar>
	  <ons-row>
		<ons-col>
			<ul class="list">
			  <li class="list__item">
				DroneUrl<input id="inDroneurl" type="text" class="text-input text-input--transparent" style="width:100%; margin-top:4px;" placeholder="http://test.com/drone">
			  </li>
			  <li class="list__item">
				Refreshrate (secs)<input id="inDronerefreshrate" type="text" class="text-input text-input--transparent" style="width:100%; margin-top:4px;" placeholder="1">
			  </li>
			  <li class="list__item">
				Log Buffer (lines)<input id="inDronelogbuffer" type="text" class="text-input text-input--transparent" style="width:100%; margin-top:4px;" placeholder="2000">
			  </li>
			</ul>
			<button id="btnSavesettings" class="button--cta" style="width:95%; align: center; margin: 5px" onClick="onClickSave()">Save</button>
			<!--div>
				<p id="geolocationWatch">Not set yet</p>
				<p>Serving to: <span id="hostSpan">not set yet</span></p>
				<p><input id="hostInput" type="text" placeholder="Host" value="gpslog-dr4g0n.rhcloud.com" /></p>
				<p><input id="portInput" type="text" placeholder="Port" value="80" /></p>
				<p>POST feedback: <span id="postFeedbackSpan"></span></p>
				<p>Server said: <span id="serverSaidSpan"></span></p>
			</div-->
		</ons-col>
	  </ons-row>
    </ons-page>
  </script>

  <!--script type="text/ons-template" id="page4.html">
    <ons-page class="center">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">New Page</div>
      </ons-toolbar>

      <ons-row style="margin-top: 100px;">
        <ons-col align="center">
          <ons-button modifier="light" ng-click="ons.navigator.popPage();">Pop Page</ons-button>
        </ons-col>
      </ons-row>
    </ons-page>
  </script-->
  
  <script type="text/ons-template" id="page5.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Location</div>
      </ons-toolbar>
		<div id="tt">
			<ul class="list">
			  <li class="list__item">
				<div id="inLatitude" class="list__right-label">loading...</div>Latitude
			  </li>
			  <li class="list__item">
				<div id="inLongitude" class="list__right-label">loading...</div>Longitude
			  </li>
			  <li class="list__item">
				<div id="inAltitude" class="list__right-label">loading...</div>Altitude
			  </li>
			  <li class="list__item">
				<div id="inAccuracy" class="list__right-label">loading...</div>Accuracy
			  </li>
			  <li class="list__item">
				<div id="inAltitudeaccuracy" class="list__right-label">loading...</div>Altitude Accuracy
			  </li>
			  <li class="list__item">
				<div id="inHeading" class="list__right-label">loading...</div>Heading
			  </li>
			  <li class="list__item">
				<div id="inSpeed" class="list__right-label">loading...</div>Speed
			  </li>
			  <li class="list__item">
				<div id="inTimestamp" class="list__right-label">loading...</div>Timestamp
			  </li>
			  <li class="list__item">
				<div id="inUpdate" class="list__right-label">loading...</div>Update
			  </li>
			</ul>		
		</div>
    </ons-page>
  </script>
</div> 
</body>
</html>
